.film-card {
  background-color: #ffffff;
  @media screen and (max-width: 419px) and (min-width: 420px) {
    display: block;
    text-align: center;
    padding: 48px 20px 40px 20px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    text-align: center;
    padding: 40px 16px 40px 16px;
  }
}
